@use "sass:color" as color;
@use "variables" as *;

// Mixin para flex centrado
@mixin flex-centro {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

// Mixin para títulos
@mixin titulo {
  font-family: $fuente-titulos;
  font-size: 2rem;
  color: $color-secundario;
  margin-bottom: 10px;
}

// Mixin para párrafos
@mixin parrafo {
  font-family: $fuente-texto;
  color: #000;
  margin-bottom: 30px;
}

// Mixin para inputs y textarea
@mixin campo-formulario {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: $fuente-texto;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;

  &:focus {
    border-color: $color-principal;
  }
}

// Mixin para botones
@mixin boton {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: $color-principal;
  color: white;
  font-size: 1rem;
  font-family: $fuente-titulos;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: color.adjust($color-principal, $lightness: -12%);
  }
}

// Placeholder para tarjetas
%tarjeta {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
